name: helm lifecycle

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/README.md'
      - '**/index.yaml'

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:

    - name: checkout commit
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: git configuration
      run: |
        git config user.name "$GITHUB_ACTOR"
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

    - name: install Helm
      uses: azure/setup-helm@v4
      with:
        version: v3.8.1

    - name: build publish to gh pages
      uses: helm/chart-releaser-action@v1.7.0
      with:
        charts_dir: charts
        config: .github/chart-release-config.yaml
      env:
        CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
